{% extends "base.html" %}
{% block content %}

    <!-- page header -->
    <h3 class="center-align">Add Term</h3>
    <!-- page header end -->

    <!-- add term card -->
    <div class="row card-panel grey lighten-4">
        <form class="col s12" method="POST" action="{{ url_for('add_term') }}">
            <!-- category selection dropdown -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name">Term Category</label>
                </div>
            </div>
            <!-- category selection dropdown end -->

            <!-- term name input -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pen-to-square prefix"></i>
                    <input id="term_name" name="term_name" minlength="2" maxlength="50"
                    type="text" class="validate" required>
                    <label for="term_name">Term Name or Acronym</label>
                </div>
            </div>
            <!-- term name input end -->

            <!-- alternative name input -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-regular fa-pen-to-square prefix"></i>
                    <input id="alternative_name" name="alternative_name" minlength="2" maxlength="50"
                    type="text" class="validate">
                    <label for="alternative_name">Alternative Name (if applicable)</label>
                </div>
            </div>
            <!-- alternative name end input -->

            <!-- definition text area -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix"></i>
                    <textarea id="term_definition" name="term_definition" minlength="5"
                        maxlength="500" class="materialize-textarea validate" required></textarea>
                    <label for="term_definition">Term Definition</label>
                </div>
            </div>
            <!-- definition text area end -->

            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large light-green accent-2 grey-text text-darken-4 waves-effect">
                        Add Term <i class="fas fa-solid fa-plug-circle-plus right"></i>
                    </button>
                </div>
            </div>
            <!-- submit button end -->
        </form>
    </div>
    <!-- add term card -->

{% endblock %}