{% extends "base.html" %}
{% block content %}

    <!-- page header -->
    <h3 class="center-align">Edit Term</h3>
    <!-- page header end -->

    <!-- edit term card -->
    <div class="row card-panel grey lighten-4">
        <form class="col s12" method="POST" action="{{ url_for('edit_term', term_id=term._id) }}">

            <!-- term name input -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pen-to-square prefix"></i>
                    <input id="term_name" name="term_name" minlength="2" maxlength="30"
                    value="{{ term.term_name }}" type="text" class="validate" required>
                    <label for="term_name">Term Name or Acronym</label>
                </div>
            </div>
            <!-- term name input end -->

            <!-- alternative name input -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-regular fa-pen-to-square prefix"></i>
                    <input id="alternative_name" name="alternative_name" minlength="2" maxlength="50"
                    value="{{ term.alternative_name }}" type="text" class="validate">
                    <label for="alternative_name">Alternative Name (if applicable)</label>
                </div>
            </div>
            <!-- alternative name input end -->

            <!-- definition text area -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix"></i>
                    <textarea id="term_definition" name="term_definition" minlength="5"
                        maxlength="500" class="materialize-textarea validate" required>
                        {{- term.term_definition -}}
                    </textarea>
                    <label for="term_definition">Term Definition</label>
                </div>
            </div>
            <!-- definition text area end -->

            <!-- buttons div -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button -->
                    <a href="{{ url_for('get_terms') }}" class="waves-effect waves-light btn-large red lighten-1 grey-text text-darken-4">
                        Cancel <i class="fas fa-plug-circle-xmark right"></i>
                    </a>
                    <!-- cancel button end -->

                    <!-- edit button -->
                    <button type="submit" class="waves-effect btn-large light-green accent-3 grey-text text-darken-4">
                        Edit Term <i class="fas fa-plug-circle-bolt right"></i>
                    </button>
                    <!-- edit button end -->
                </div>
            </div>
            <!-- buttons div end -->
        </form>
    </div>
    <!-- edit term card end -->

{% endblock %}