{% extends "base.html" %}
{% block content %}

    <!-- page header -->
    <h1 class="center-align">Sign Up</h1>
    <!-- page header end -->

    <!-- sign-up card panel -->
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('sign_up') }}">
            <div class="card-panel">
                <!-- username input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-robot prefix"></i>
                        <input id="username" name="username" type="text" minlength="3" 
                        maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- username input end -->

                <!-- password input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fa-solid fa-lock prefix"></i>
                        <input id="password" name="password" type="password" minlength="5" 
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- password input end -->

                <!-- sign up button & log in link -->
                <div class="row center-align">
                    <button type="submit" class="btn-large btn-green waves-effect">
                        Submit <i class="fa-solid fa-bolt"></i>
                    </button>
                    <div class="col s12">
                        <p class="center-align link-text">
                            <a href="{{ url_for('login') }}">Already signed up? Log In</a>
                        </p>
                    </div>
                </div>
                <!-- sign up button & log in link end -->
            </div>
        </form>
    </div>
    <!-- sign-up card panel end -->

{% endblock %}