{% extends "base.html" %}
{% block content %}

    <!-- page header -->
    <h3 class="center-align">Sign Up</h3>
    <!-- page header end -->

    <!-- sign-up card panel -->
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('sign_up') }}">
            <div class="card-panel">
                <!-- username input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-robot prefix grey-text text-darken-4"></i>
                        <input id="username" name="username" type="text" minlength="3" 
                        maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- username input end -->

                <!-- password input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-lock prefix grey-text text-darken-4"></i>
                        <input id="password" name="password" type="password" minlength="5" 
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- password input end -->

                <!-- submit button -->
                <div class="row">
                    <button type="submit" class="col s12 m8 offset-m2 l6 offset-l3 xl4 offset-xl4 btn-large light-green accent-2 grey-text text-darken-4 waves-effect">
                        Submit <i class="fa-solid fa-bolt"></i>
                    </button>
                </div>
                <!-- submit button end -->
            </div>
        </form>
    </div>
    <!-- sign-up card panel end -->

    <!-- login link -->
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Already signed up?
                <a href="{{ url_for('login') }}" class="blue-text text-darken-3">Log In Here</a>
            </p>
        </div>
    </div>
    <!-- login link end -->

{% endblock %}