{% extends "base.html" %}
{% block content %}

    <div class="row hero-image">
        <div class="col s12">
            <div class="card">
                <div class="card-image">
                    <img src="static/images/traffic.jpg">
                    <span class="card-title">Do You Speak EV?</span>
                </div>
                <div class="card-content">
                    <p>Jargon busting explanations for common electric vehicle terms.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- search bar -->
    <div class="row card-panel search-panel">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <!-- search button -->
                <div class="input-field col s12 m8">
                    <i class="fa-solid fa-search prefix grey-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="2" class="validate" required>
                    <label for="query">Search</label>
                </div>
                <!-- reset button -->
                <div class="col s12 m4">
                    <button type="submit" class="btn waves-effect light-green accent-1 grey-text text-darken-4"> Search</button>
                    <a href="{{ url_for('get_terms') }}" class="btn blue lighten-5 grey-text text-darken-4">Reset</a>
                </div>
            </div>
        </form>
    </div>
    <!-- search bar end -->

    {% if terms|length > 0 %}
        {% from 'collapsible.html' import collapsibleFunc %}
        {{ collapsibleFunc(terms, session) }}
    {% else %}
        <!-- no results message -->
        <div class="light-green accent-1">
            <h3 class="center-align grey-text text-darken-4">No Results Found</h3>
        </div>
        <!-- no results message end -->
    {% endif %}
{% endblock %}