{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Terms Dictionary</h3>

    <div class="row card-panel grey lighten-5">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fa-solid fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="2" class="validate" required>
                    <label for="query">Search Dictionary</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_terms') }}" class="red btn">Reset</a>
                    <button type="submit" class="light-blue darken-1 btn">
                        <i class="fa-solid fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    {% if terms|length > 0 %}
    <ul class="collapsible popout">
        {% for term in terms %}
        <li>
            <div class="collapsible-header">
                <i class="fa-solid fa-charging-station"></i></i>
                <strong>{{ term.term_name }}</strong>
            </div>
            <div class="collapsible-body">
                <strong>{{ term.alternative_name }}</strong>
                <p>{{ term.term_definition }}</p>
                <strong>Category: {{ term.category_name }}</strong>
                <p>
                    <em>Posted by: {{ term.created_by }}<br>
                    Last update on: {{ term.created_on }}</em>
                </p>
                <div class="center-align">
                    {% if session.is_admin or session.user|lower == term.created_by|lower %}
                        <a href="{{ url_for('edit_term', term_id=term._id) }}" 
                        class="waves-effect waves-light btn-small light-green accent-3 grey-text text-darken-4">
                            Edit <i class="fas fa-plug-circle-bolt right"></i>
                        </a>
                        <a href="{{ url_for('delete_term', term_id=term._id) }}" 
                        class="waves-effect waves-light btn-small red lighten-1 grey-text text-darken-4">
                            Delete <i class="fas fa-plug-circle-xmark right"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </li>
        {% endfor %} 
    </ul>
    {% else %}
        <div class="light-green accent-1">
            <h3 class="center-align grey-text text-darken-4">No Results Found</h3>
        </div>
    {% endif %}
{% endblock %}