{% extends "base.html" %}
{% block content %}

    <ul class="collapsible popout">
        {% for term in terms %}
        <li>
            <div class="collapsible-header">
                <i class="fa-solid fa-charging-station"></i></i>
                <strong>{{ term.term_name }}</strong>
            </div>
            <div class="collapsible-body">
                <strong>{{ term.alternative_name }}</strong>
                <p>{{ term.term_definition }}</p>
                <strong>Category: {{ term.category_name }}</strong>
            </div>
        </li>
        {% endfor %} 
    </ul>
{% endblock %}